<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div id="app">

    <h1 v-text='num' @click='num+=2'></h1>
    <hr>

    <!-- <input type="text" v-model.trim.number='username' /><br> -->
    <input type="text" :value='username' @input='username=$event.target.value' />

    <!-- <textarea rows="3" cols="80" v-model.lazy='desc'></textarea> -->
    <textarea rows="3" cols="80" :value='desc' @blur='desc=$event.target.value'></textarea>

    <!-- <input type="color" v-model='color' /><br> -->
    <input type="color" :value='color' @input='color=$event.target.value' /><br>

    <span>选择学历：</span>
    <!-- <select v-model.number='level'>
      <option value="1">硕士</option>
      <option value="2">本科</option>
      <option value="3">大专</option>
      <option value="4">高中</option>
    </select>
    <br> -->
    <select :value='level' @change='level=Number($event.target.value)'>
      <option value="1">硕士</option>
      <option value="2">本科</option>
      <option value="3">大专</option>
      <option value="4">高中</option>
    </select>
    <br>

    <span>选择性别：</span>
    <!-- <input type="radio" value='man' v-model='gender' />男
    <input type="radio" value='woman' v-model='gender' />女
    <input type="radio" value='unknow' v-model='gender' />保密 -->
    <br>
    <input type="radio" value='man' :checked='gender==="man"' @change='gender=$event.target.value' />男
    <input type="radio" value='woman' :checked='gender==="woman"' @change='gender=$event.target.value' />女
    <input type="radio" value='unknow' :checked='gender==="unknow"' @change='gender=$event.target.value' />保密
    <br>

    <span>选择爱好：</span>
    <!-- <span v-for='item in favList'>
      <input type="checkbox" :value='item.value' v-model='favs' />
      <span v-text='item.label'></span>
    </span> -->
    <br>
    <span v-for='item in favList'>
      <input type="checkbox" :value="item.value" :checked='favs.includes(item.value)' @change='favChange' />
      <span v-text='item.label'></span>
    </span>
    <br>

    <button @click='submit'>提交</button>

    <!-- 用户列表 -->
    <div v-for='(item, idx) in list'>
      <span v-text='idx'></span>
      -
      <span v-text='item.name'></span>
      -
      <span v-text='item.age'></span>
      <button @click='remove(idx, $event)'>删除</button>
    </div>
    <hr>

    <div v-for='(v, k, i) in info'>
      <span v-text='i'></span> :
      <span v-text='k'></span> :
      <span v-text='v'></span>
    </div>
    <hr>

    <div v-for='(i, index) in rows'>
      <span v-text='index'></span>
      :
      <span v-text='i'></span>
    </div>
    <hr>

    <!-- <h1 v-if='rowNum===0'>第一行</h1>
    <h1 v-else-if='rowNum===1'>第二行</h1>
    <h1 v-else>第三行</h1> -->
    <h1 v-show='rowNum===0'>第一行</h1>
    <h1 v-show='rowNum===1'>第二行</h1>
    <h1 v-show='rowNum===2'>第三行</h1>
    <button @click='rowNum = (rowNum+1)%3'>切换</button>

    <br><br><br><br><br><br><br><br>
  </div>

  <hr>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
  <script>
    // 四、表单绑定
    // 常用的表单：文本类的表单，下拉框、单选按钮组、复选框。
    // v-model 用于表单取值。特点是双向绑定（特指表单取值的这种玩法）。
    // 语法：v-model.表单修饰符='声明式变量'
    // 常用修饰符：.trim去除首尾字符串，.number把表单的值变成Number类型，.lazy当表单失焦时再进行双向绑定（用于性能优化）。

    // 怎么理解v-model是一种语法糖？
    // 对文本框来讲，v-model = v-bind:value + v-on:input (对.lazy的话，事件就是@blur事件)
    // 对下拉框来讲，v-model = v-bind:value + v-on:change
    // 对单选按钮组、复选框来讲，v-model = v-bind:checked + v-on:change

    // 五、列表渲染
    // v-for 用于遍历渲染一个数组，还可以遍历渲染一个对象，还可以遍历Number。
    // 遍历数组的语法：<div v-for='(item, index) in array' />
    // 遍历对象的语法：<div v-for='(value, key, index) in object' />
    // 遍历Number的语法：<div v-for='(i, index) in 10' />

    // 六、条件渲染
    // v-if / v-else-if / v-else  用于条件渲染。特点：对DOM进行移除和插入。
    // 语法：v-if 和 v-else-if 要接收一个布尔值，v-else不用接收值。
    // v-show 用于条件渲染。特点：使用display:none;来显示或隐藏节点。
    // 语法：v-show 接收一个布尔值。
    // 问题：什么时候使用v-if系列，什么时候使用v-show？原则：如果一个节点可能频繁显示与隐藏，建议用v-show；反之v-if系列。
    // 注意：在Vue开发，在同一节点上，不建议同时使用v-if和v-for。如果非得一起使用，v-for的优先级更高。

    // 七、插槽
    // v-slot 在组件化中再讲。

    const app = new Vue({
      el: '#app',
      data: {
        num: 100,
        username: '',
        desc: '',
        color: '#000000',
        level: 1,
        gender: 'man',
        favList: [
          { id: 1, value: 'basketball', label: '篮球' },
          { id: 2, value: 'football', label: '足球' },
          { id: 3, value: 'sing', label: '唱歌' },
          { id: 4, value: 'dance', label: '跳舞' },
          { id: 5, value: 'rap', label: '说唱' }
        ],
        favs: [],
        list: [
          { id: 1, name: '张三', age: 10 },
          { id: 2, name: '李四', age: 20 },
          { id: 3, name: '王五', age: 30 }
        ],
        info: {
          name: '千锋教育',
          addr: '深圳西部硅谷',
          tel: '0755-90908080'
        },
        rows: 10,
        rowNum: 0
      },
      methods: {
        submit () {
          const data = {
            username: this.username,
            desc: this.desc,
            color: this.color,
            level: this.level,
            favs: this.favs
          }
          console.log('---提交', data)
        },
        getUserName (ev) {
          // console.log('---有人在输入', ev.target.value)
          this.username = ev.target.value
        },
        favChange (ev) {
          const { checked, value } = ev.target
          if (checked) {
            this.favs.push(value)
          } else {
            this.favs = this.favs.filter(ele=>ele!==value)
          }
        },
        remove (idx) {
          console.log('---删除', idx)
          this.list.splice(idx, 1)
          // 数组方法：变异方法splice/push/pop/shift、非变异方法slice/filter/includes/map
        }
      }
    })

    // setInterval(()=>{
    //   console.log('----desc', app.desc)
    // }, 500)
  </script>

</body>
</html>
